git+https://github.com/nums-project/nums.git@master#egg=nums
modin==0.10.0
numpy==1.19.5
pandas==1.2.4
ray==1.4.0
s3fs==2021.6.1
jupyter==1.0.0
jupyterlab==3.0.16
matplotlib==3.4.2
scikit-learn==0.24.2
tqdm==4.61.2
jedi==0.18.0
plotly==5.1.0
xgboost==1.4.2
